@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    background: white;
    background: rgba(0,0,0,0.4)
}

.pencil {
    background: linear-gradient(180deg, #FF5C5C 0%, #F0568A 100%);
}
